
<h2>Edit the recipe: {{title}}</h2>

<form action="/recipes/{{_id}}/edit" method="POST">
  <label>
    Title:
    <input type="text" name="title" value="{{title}}" />
  </label><br>

  <label>
    User:
    <input type="text" name="userName" value="{{creator.userName}}" />
  </label><br>

  <label>
    Difficulty:
     <input type="radio" id="kids" name="difficulty" value="kids">
        <label for="kids">Kids</label><br>
     <input type="radio" id="papa" name="difficulty" value="papa">
        <label for="Papa">Papa</label><br>
     <input type="radio" id="mapa" name="difficulty" value="mama">
        <label for="Mama">Mama</label>
        {{difficulty.value}}
   </label><br>
   
  <label>
    Description:
    <textarea name="description" cols="30" rows="4">
      {{description}}
    </textarea>
  </label><br>

  <label>
    Ingredients
     <textarea name="ingredients" cols="30" rows="4">
      {{ingredients}}
    </textarea>
  </label> <br>

  <label>
     Instructions:
      <textarea name="instructions" cols="30" rows="4">
        {{instructions}}
      </textarea>     
    </label> <br>

  <label> Dish type:<br>
     <input type="checkbox" id="breakfast" name="dishType" value="breakfast">
        <label for="breakfast">Breakfast</label>
    <input type="checkbox" id="lunch" name="dishType" value="lunch">
        <label for="lunch">Lunch</label><br>
     <input type="checkbox" id="dinner" name="dishType" value="dinner">
        <label for="dinner">Dinner</label>
     <input type="checkbox" id="dessert" name="dishType" value="dessert">
        <label for="dessert">Dessert</label><br>
     <input type="checkbox" id="drink" name="dishType" value="drink">
        <label for="drink">Drink</label>
     <input type="checkbox" id="othera" name="dishType" value="other">
        <label for="other">Other</label>
          {{dishType}}
   </label><br>

  <label>Duration: Short (15+ min)
  <input type="range" id="duration" name="duration" min="0" max="120">
   Long (2h+)
  </label><br>
   
 <label>Upload image of dish:
     <input type="file" id="img" name="img" accept="image/*">
 </label><br>

  <label>
    Rating:
    <input type="number" name="rating" min="1" max="10" value="{{rating}}" />
  </label><br>

  <button class="btn btn-primary">Save changes</button>
</form>


    {{!-- <select name="user">
      {{#each usersArr}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select> --}}