<section class="recipe-details container">
  <h2>{{title}}</h2>
   <img src="{{image}}" alt="photo of dish"> 
  <div class="row">
  <div class="col"><p>
    Created by:
    {{creator.userName}}
    <br />
  </p>
  <p>
    <strong>Duration:</strong>
    {{duration}} minutes
  </p>
  </div>
  <div class="col">
  <p>
    <strong>Difficulty:</strong>
    {{difficulty}}
  </p>
  <p>
    <strong>Dish Type:</strong>
    {{dishType}}
  </p>
  </div>
  </div>
  <div class="row">
  <div class="col-8">
  <p>
    <strong>Description:</strong>
    {{description}}
  </p>

   <p>
    <strong>Instructions:</strong>
    {{instructions}}
  </p>
  </div>
  <div class="col-4">
  <p>
    <strong>Ingredients:</strong>
    {{ingredients}}
  </p>
  </div>
  </div>

  <div class="row">
    <div class="col-4 text-center">
       <a class="btn btn-primary" href="/recipes">Back</a>
    </div>
    <div class="col-4 text-center">
   <a class="btn btn-primary" href="/recipes/{{this._id}}/edit">Edit</a>
   </div>
    <div class="col-4 text-center">
    <form action="/recipes/{{this._id}}/delete" method="POST">
    <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</section>