<section class="recipe-details">
  <h2>{{title}}</h2>
  <p>
    User:
    {{creator.userName}}
    <br />
    Rating:
    {{rating}}
    <br/>
  </p>
  <p>
    <strong>Difficulty:</strong>
    {{difficulty.value}}
  </p>
  <p>
    <strong>Dish Type:</strong>
    {{dishType}}
  </p>

  <p>
    <strong>Description:</strong>
    {{description}}
  </p>
  <p>
    <strong>Ingredients:</strong>
    {{ingredients}}
  </p>

   <p>
    <strong>Instructions:</strong>
    {{instructions}}
  </p>
  <p>
    <strong>Duration:</strong>
    {{duration.value}}
  </p>
  <p>
    <strong>Photo of Dish</strong>
   <img src="{{image}}" alt="photo of dish"> 
  </p>




</section>

<a href="/recipes">Back</a>