<h1 class="text-center">List of recipes in our database</h1>

<div class="row text-center justify-content-center align-items-center">
<div class="gap">
<a class="btn btn-primary text-center" href="/create">Create a new recipe</a>
</div>
{{#each recipesArr}}
<div class="card product col-12 col-md-4" style="width: 18rem;">
  <a href="/recipes/{{this._id}}">
  <img src="{{this.image}}" class="card-img-top" alt="..." />
  </a>
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">
      {{this.creator.userName}}
      {{this.rating}}
    </p>
    <a class="btn btn-primary" href="/recipes/{{this._id}}">More details</a>
    <a class="btn btn-primary" href="/recipes/{{this._id}}/edit">Edit</a>
    <form action="/recipes/{{this._id}}/delete" method="POST"></form>
    <a href="#" class="btn btn-danger">Delete</a>
    </form>
  </div>
</div>
{{/each}}
</div>
</div>