<h1 class="text-center mt-4">Discover a World of UMAMI</h1>

{{#if errorMessage}}  
  <h1>{{errorMessage}}</h1>
{{/if}}

      {{#if showCreateButton}}
<div class="text-center justify-content-center align-items-center">
<div class="this isthebutton m-5">
<a class="btn btn-primary text-center" href="/create">Create a new recipe</a>
</div>
    {{/if}}

<div class="row justify-content-center align-items-center">
{{#each recipesArr}}
<div class="card product col-12 col-md-2 m-2" style="width: 24rem;">
  <a href="/recipes/{{this._id}}">
  <img src="{{this.image}}" class="card-img-top" alt="..." />
  </a>
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">
      by: {{this.creator.userName}}
    </p>
    {{#if isUserLoggedIn}}
    <a class="btn btn-primary" href="/recipes/{{this._id}}">More details</a>
    <a class="btn btn-primary" href="/recipes/{{this._id}}/edit">Edit</a>
    <form action="/recipes/{{this._id}}/delete" method="POST">
    <button class="btn btn-danger">Delete</button>
    </form>
    {{else}}
    <a class="btn btn-primary" href="/recipes/{{this._id}}">More details</a>
    {{/if}}
  </div>
</div>
{{/each}}
</div>
</div>
</div>