<div class="container recipe-forms">
  <h2 class="pt-2">Edit the recipe: {{title}}</h2>
  <form
    action="/recipes/{{_id}}/edit"
    method="POST"
    enctype="multipart/form-data"
  >

    <div class="pb-2 mb-3 col">
      <label class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        value="{{title}}"
        required
      />
    </div>

    <div class="pb-2">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="difficulty"
          id="kids"
          value="kids"
          {{setChecked difficulty "kids"}}
        />
        <label class="form-check-label" for="kids">Kids</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="difficulty"
          id="papa"
          value="papa"
          {{setChecked difficulty "papa"}}
        />
        <label class="form-check-label" for="papa">Papa</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="difficulty"
          id="mama"
          value="mama"
          {{setChecked difficulty "mama"}}
        />
        <label class="form-check-label" for="mama">Mama</label>
      </div><br />
    </div>

    <div class="pb-2">
      <label class="form-label">Description</label>
      <div class="form-floating">
        <textarea
          class="form-control"
          name="description"
          style="height: 100px"
        >{{description}}</textarea>
      </div>
    </div>

    <div class="pb-2">
      <label class="form-label">Ingredients</label>
      <div class="form-floating">
        <textarea
          class="form-control"
          name="ingredients"
          style="height: 100px"
        >{{ingredients}}</textarea>
      </div>
    </div>

    <div class="pb-2">
      <label class="form-label">Instructions</label>
      <div class="form-floating">
        <textarea
          class="form-control"
          name="instructions"
          style="height: 100px"
        >{{instructions}}</textarea>
      </div>
    </div>

    <div class="pb-2">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          value="breakfast"
          name="dishType"
          {{setChecked dishType "breakfast"}}
        />
        <label class="form-check-label" for="breakfast">Breakfast</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          value="lunch"
          name="dishType"
          {{setChecked dishType "lunch"}}
        />
        <label class="form-check-label" for="lunch">Lunch</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          value="dinner"
          name="dishType"
          {{setChecked dishType "dinner"}}
        />
        <label class="form-check-label" for="dinner">Dinner</label>
      </div><br />
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          value="dessert"
          name="dishType"
          {{setChecked dishType "dessert"}}
        />
        <label class="form-check-label" for="dessert">Dessert</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          value="snack"
          name="dishType"
          {{setChecked dishType "snack"}}
        />
        <label class="form-check-label" for="snack">Snack</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          value="drink"
          name="dishType"
          {{setChecked dishType "drink"}}
        />
        <label class="form-check-label" for="drink">Drink</label>
      </div><br />
    </div>

    <div class="pb-2">
      <label for="duration" class="form-label">Current Duration:
        {{duration}}
        min</label>
      <input
        type="range"
        class="form-range"
        min="0"
        max="120"
        step="5"
        name="duration"
        value="{{duration}}"
      />

      <div class="container">
        <div class="row">
          <div class="col-6 align-self-start">Short (±15 min)</div>
          <div id="duration" class="col-6 align-self-end">Long (2 hours+)</div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">Upload image of dish</label>
      <input
        class="form-control"
        type="file"
        id="image"
        name="image"
        accept="image/apng, image/avif, image/gif, image/jpeg, image/png, image/svg+xml, image/webp"
      />
      <input type="text" name="existingImage" hidden value="{{image}}" />
    </div>

    <div class="d-grid d-md-flex justify-content-md-center pb-2">
      <button class="btn btn-primary mx-auto" type="submit">Save Changes</button>
    </div>

  </form>
</div>